name: Testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.4'

    - uses: actions/checkout@v4

    - name: Configuración dos permisos
      run: chmod -R 777 .

    - name: Acceder ó workspace
      run: make setup

    - name: Execución dos tests (Unit e Feature) via Pest
      run: php artisan test
